#sea {
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, blue, darkblue);
    position: absolute;
    bottom: 0;
    margin: 0;
}

#boat{
    display: inline;
    position: absolute;
    bottom: calc(30% - 25px);
    left: 45%;
    width: 7vw;
    z-index: 111;
}

#boat img{
    width: 13vw;
}

#boat #filet {
    width: 2vw;
    position: absolute;
    bottom:0;
    left: 0;
}

.transitionLeft{
    transition: left 2s ease 0s;
}

.transitionLeftLong{
    transition: left 15s ease 0s;
}

.transitionBottom{
    transition: bottom 2s ease 0s;
}

.scale {
    animation: linear maxScale 200ms;
    transform: scale(5,5);
}

@keyframes maxScale {
    0%   {transform: scale(1,1);}
    50%  {transform: scale(3,3);}
    100% {transform: scale(5,5);}
}


#lang {
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    margin: 20px;
    border: black solid 5px;
    font-size: 20px;
    z-index: 11111;
}


#sky {
    height: 70%;
    width: 100%;
    background: linear-gradient(to bottom, #b7eaff 0%, lightblue 100%);
}

#clouds {
    position: absolute;
    width: 100%;
    top:0px;
    height: 30%;
}

#score {
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin: 20px;
    border: black solid 5px;
    font-size: 20px;
    z-index: 11111;
}

body{
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.flip{
    transform: rotateY(180deg);
}

.target {
    position: absolute;
    bottom: 85%;
    width: 3vw;
}

.jumpClass {
    animation: jump 1s linear;
}

@keyframes jump {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(-200px);}
    100% {transform: translateY(0px);}
}



